.mias_container {
    position: fixed;
	float: none;
	right:0;
	overflow: auto;
	clear: both;
	bottom: 0;
	padding: 5px;
	margin: 5px;
	border: 1px solid transparent;
	background-color: #000000;
	color: #ffffff;
	opacity: .75;
	z-index: 1000;
	right: 0px;
}

.pullout {
    width: 25%;
    min-height: 100%;
    position: absolute;
    right: 0;
    top: 0;
	background-color: #000;
	color: #fff;
    margin-right: -102%;
    z-index: 9999;
    -webkit-transition: all .6s ease-in-out;
	-moz-transition: all .6s ease-in-out;
	-o-transition: all .6s ease-in-out;
	-ms-transition: all .6s ease-in-out;
	transition: all .6s ease-in-out;
}

.pullout:target {
    margin-right: 0%;
}

#mias_pullout {
	background-color: #ff0;
}

.low {
	font-color: green;
}

.med {
	font-color: yellow;
}

.high {
	font-color: red;
}
